<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342844822343-qutuqf19fmllb3h7b4r0pfcsmkmu7ho7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342844822343-qutuqf19fmllb3h7b4r0pfcsmkmu7ho7</string>
	<key>API_KEY</key>
	<string>AIzaSyAzKiKsTEdsjEpZALEM5CRbHKIB_KZSGtI</string>
	<key>GCM_SENDER_ID</key>
	<string>342844822343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Aamir.Cannes</string>
	<key>PROJECT_ID</key>
	<string>cannes-fd8dc</string>
	<key>STORAGE_BUCKET</key>
	<string>cannes-fd8dc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342844822343:ios:5d5baf5a69c59f9ddcf262</string>
</dict>
</plist>